---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.data.publications.journal and site.data.publications.journal.size > 0 %}
<h2>Journal Articles</h2><hr />
  {% assign years = site.data.publications.journal | group_by: "year" | sort: "name" | reverse %}
  {% for year in years %}
    <h3>{{ year.name }}</h3>
    {% for pub in year.items %}{% include pub-entry.html item=pub %}{% endfor %}
  {% endfor %}
{% endif %}

{% if site.data.publications.conference and site.data.publications.conference.size > 0 %}
<h2>Conference Presentations</h2><hr />
  {% assign years = site.data.publications.conference | group_by: "year" | sort: "name" | reverse %}
  {% for year in years %}
    <h3>{{ year.name }}</h3>
    {% for pub in year.items %}{% include pub-entry.html item=pub %}{% endfor %}
  {% endfor %}
{% endif %}

{% if site.data.publications.challenge and site.data.publications.challenge.size > 0 %}
<h2>Challenges and Competitions</h2><hr />
  {% assign years = site.data.publications.challenge | group_by: "year" | sort: "name" | reverse %}
  {% for year in years %}
    <h3>{{ year.name }}</h3>
    {% for pub in year.items %}{% include pub-entry.html item=pub %}{% endfor %}
  {% endfor %}
{% endif %}
